span{
    /* inline element can be changed to block-level element */
    /* display: block; */ 
    /* or like */
    display: inline-block;

    margin: 20px;
    /* padding will stack on top of each other in inline elements */
    padding: 20px;

}

div{
    /* block element can be changed to in-line element */
    /* display: inline; */
    border: 2px solid crimson;
    /* margin will not stack but instead take the largest of the two, if stacked */
    margin: 20px;
    padding: 20px;
}